#!/bin/bash
# declare your configuration variables in this file
# save it without the .sample extension
# make sure it is executable
printf '%s\n' "-------------------------------"
printf '%s\n' "     Configuring Variables     "
printf '%s\n' "-------------------------------"

#### ---------------------------------------------------------------------------
#### ----------below this line are settings which MUST be customised  ----------
#### ---------------------------------------------------------------------------

# CloudOne Settings:
# C1REGION="the value can be one one of: us-1|in-1|gb-1|jp-1|de-1|au-1|ca-1|sg-1|trend-us-1"
export C1REGION="us-1"
# export C1APIKEY='your_CloudOne_API_Key. MUST be created in C1S (no longer in C1WS; this API key is different!)
export C1APIKEY='your_CloudOne_API_Key'

# Script settings
# All objects created by this script will be prepended by this string
# it may ONLY contain LOWERCASE and trailing numbers
# MAY NOT CONTAIN UPPERCASE, no "-", no "_", nor any special characters.
export C1PROJECT='c101'    #ONLY LOWERCASE, no "-", no "_", nor any special characters.

# Dockerhub account information (required to do "authenticated pulls" from docker to get a higher max-pull limit)
export DOCKERHUB_USERNAME='your username of your (free) account on hub.docker.com'
export DOCKERHUB_PASSWORD='your password of your (free) account on hub.docker.com'    #use your password here, not your PAT

#  Azure settings
# CHANGE AZURE_SUBSCRIPTION to match your azure subscription
export AZURE_SUBSCRIPTION_NAME="Pay-As-You-Go"
export AZURE_LOCATION='westeurope'
export AZURE_ORGANIZATION='myazureOrg'  #this is the Azure Organization that you created in the AZURE GUI
#get a PAT: https://dev.azure.com/chrisvandenabbeele/_usersSettings/tokens -> "person" icon (top right) -> Personal access tokens.
export AZURE_DEVOPS_EXT_PAT='your Azure PAT' #this PAT must be for AZURE_ORGANIZATION from above

# Deep Security Smart Check(part1) settings (for pre-runtime scanning)
export DSSC_REGPASSWORD='Tr3ndm1cr0!'  #DO CHANGE THIS do NOT use any "\" in the passwords
export DSSC_PASSWORD='Tr3ndm1cr0!'     #DO CHANGE THIS do NOT use any "\" in the passwords

#### --------------------------------------------------------------------------------------
#### -----below this line are default settings which may be optionally customised----------
#### --------------------------------------------------------------------------------------
# set verbose output (1=verbose/debug during startup; 0=non-verbose output)
export VERBOSE=0
export C1CS_RUNTIME="true"

# The number of nodes you want your AKS Kubernetes Cluster to have:
export AZUREAKSNODES='2'

# Deep Security Smart Check) settings (for pre-runtime scanning)
export DSSC_NAMESPACE='smartcheck' #Namespace to deploy Cloud One Container Security'
export DSSC_USERNAME='administrator'
export DSSC_TEMPPW='justatemppw'   #this temp pw will be overwritten by the DSSC_PASSWORD; it must be different from the DSSC_PASSWORD; 
export DSSC_HOST='will be generated by this script'
export DSSC_REGUSER='administrator'

####---------------------------------------------------------------------------------------
####------do not edit below this line (unless you really know what you are doing)----------
####---------------------------------------------------------------------------------------
#set the git login cache expiration time to 28800s = 8h
git config --global credential.helper 'cache --timeout 28800'  
export AZURE_ORGANIZATION_URL="https://dev.azure.com/${AZURE_ORGANIZATION}"  #has to be in the format https://dev.azure.com/[NAME_OF_YOUR_ORGANIZATION]

export APP1_GIT_URL='https://github.com/cvdabbeele/c1-app-sec-moneyx.git'
#export APP2_GIT_URL='https://github.com/cvdabbeele/troopers.git'
#export APP3_GIT_URL='https://github.com/cvdabbeele/mydvwa.git'

# Generating names for Apps, Stack, Pipelines, ECR, CodeCommit repo,..."
#generate the names of the apps from the git URL

